<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/css/bootstrap.min.css'>
     <link rel="stylesheet" href="/css/style.css" />
     <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="container">
     <div class="row contact-box">
            <div class="col-md-3 right">
            <h1>Numbers</h1>
            <br><br>
              <form>
                <div class="form-group">
                <label for="operandOne">Number One</label>
                <input type="text" name="number1" id="number1" class="form-control" >
                </div>
                <div class="form-group">
                <label for="operandTwo">Number Two</label>
                <input type="text" name="number2" id="number2" class="form-control" >
                </div>

                 <div class="form-group">
                <label for="operandOperation">Operation</label>
                  <select class="form-control" id="operation" name="operation">
                  <option>Add</option>
                  <option>Subtract</option>
                  <option>Multiply</option>
                  <option>Divide</option>
                  </select>
                </div>
                <div class="form-group">
                <input type="submit" name="submit" class="btn btn-warning btn-sm  btn-block" value="Post">
                </div>
              </form>
            </div>

              <div class="col-md-9 left">
                  <table class="table">
      <thead class="thead-dark">
     <tr>
     <th scope="col">Number 1</th>
      <th scope="col">Number 2</th>
      <th scope="col">Response</th>
      <th scope="col">Expected</th>
      <th scope="col">Passed</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>

  <% for(var i=0; i<10; i++){%>
    <tr>
     <td>1</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>No</td>
      <td><a href="#" ><i class="fa fa-remove text-danger"></i></a></td>
    </tr>
    <% }%>
  
  </tbody>
</table>


              </div>
        </div>

    </div>


    <script src="/js/jquery-2.2.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <source src="/js/bootstrap.min.js" >
    <script src="/js/mock-backend.js"></script>
  </body>
</html>
