<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href='/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row contact-box no-gutter">
            <div class="col-md-3 right">
                <h1>Numbers</h1>
                <form action="/operations" method="POST" id="math_functions_form">
                    <div class="form-group">
                        <label for="operandOne">Number One</label>
                        <input type="text" name="number1" id="number1" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="operandTwo">Number Two</label>
                        <input type="text" name="number2" id="number2" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="operandOperation">Operation</label>
                        <select class="form-control" id="operation" name="operation">
                  <option value="ADD">Add</option>
                  <option value="SUB">Subtract</option>
                  <option value="MUL">Multiply</option>
                  <option value="DIV">Divide</option>
                  </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-warning btn-sm  btn-block" value="Post">
                    </div>
                </form>
            </div>

                <div class="col-md-9 left">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Number 1</th>
                            <th scope="col">Number 2</th>
                            <th scope="col">Response</th>
                            <th scope="col">Expected</th>
                            <th scope="col">Passed</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody id="results">


                    </tbody>
                </table>
             </div>
             </div>

    </div>

    <script src="/js/jquery-2.2.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <source src="/js/bootstrap.min.js">
    <script src="/js/mock-backend.js"></script>
    <script src="/js/custom.js"></script>
</body>